<a href="https://colab.research.google.com/github/syotakokichi/Jackie/blob/Python/6_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
squares1 = []
for x in range(6):
    squares1.append(x**2)
squares1

[0, 1, 4, 9, 16, 25]

In [2]:
squares2 = [x**2 for x in range(6)]
squares2

[0, 1, 4, 9, 16, 25]

In [3]:
sum([x**2 for x in range(6)])

55

In [4]:
[chr(i + ord('a')) for i in range(26)]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [12]:
strings = ['The', 'quick', 'brown']
[len(x) for x in strings]

[3, 5, 5]